# Writing Python Functions
<hr style="border:2px solid black">

## 1. Introduction

**What is a function?**

>- a self-contained block of code that performs a specific task
>- takes a number of inputs (*arguments*)
>- executes certain operations on them
>- spits out a number of outputs (*return values*)

**Why functions?** 

>- group code that get executed multiple times
>- avoid repetative lengthy code  
>- make code more readable
>- make bug-fixing/ updating easier

**Types of functions**
>|          type         |                    description                        |
 |:---------------------:|:-----------------------------------------------------:|
 |  `built-in function`  |made always available for use by the Python interpreter|
 |`user-defined function`|   defined by the user for doing some specific task    |
 |  `lambda expression`  |       do not have a name (anonymous function)         |
 | `recursive function`  |        defines something in terms of itself           |
 |`higher-order function`|  takes (gives) another function as an input (output)  |
 |      `generator`      |  generates an iterator with help of yield statement   |
 |      `decorator`      |     modifies the functionality of other functions     |

<hr style="border:2px solid black">

## 2. Built-in Functions

**`print()`**

In [1]:
print("This encounter is about Python functions!")

This encounter is about Python functions!

**`type()`**

In [2]:
type("This encounter is about Python functions!")

str

**`len()`**

In [3]:
letter_list = ['a','b','c','d','e']
number_list = [1,2,2,3,3,3,4,5,]

In [4]:
len(number_list)

8

**`set()`**

In [5]:
number_set = set(number_list)
number_set, type(number_set)

({1, 2, 3, 4, 5}, set)

**`list()`**

In [6]:
number_list = list(number_set)
number_list

[1, 2, 3, 4, 5]

**`zip()`**

In [7]:
list(zip(letter_list,number_list))

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]

**`dict()`**

In [8]:
letter_number_dict = dict(zip(letter_list,number_list))
letter_number_dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [9]:
for x in letter_number_dict:
    print(x)

a
b
c
d
e

**`enumerate()`**

In [10]:
for index,letter in enumerate(letter_list):
    print(f"{index} elements appear before the letter {letter}")

0 elements appear before the letter a
1 elements appear before the letter b
2 elements appear before the letter c
3 elements appear before the letter d
4 elements appear before the letter e

**`vars()`**

In [11]:
import pandas as pd

# number_series = pd.Series(number_list)
vars()['number_series'] = pd.Series(number_list)

number_series.mean()

3.0

In [12]:
type(vars())

dict

<hr style="border:2px solid black">

## 3. User-defined Functions

### 3.1 How to write functions?

>- a function should have a single purpose
>- start with the def keyword
>- followed by the function_name in lower case with underscores (*snake case*)
>- followed by parentheses () and a colon :
>- after the : you need to indent the code of the function
>- the indented part, the function definition, recommended to include a docstring describing what the function does
>- parameters of a function are defined in the ()
>- one or more return statements (but not mandatory)

<img src="python_function.png" width="600"/>

**Parameter vs argument**

>- a parameter is a variable used while defining a function
>- an argument is a value that is passed to the function when it is called
>- when a function is called, argument is stored in the corresponding parameter variable

### 3.2 Examples

In [13]:
def hello_world():
    print(' hello world!')

In [14]:
hello_world()

 hello world!

In [15]:
def hello_world_from_someone(name):
    print(name+' says hello world!')

In [16]:
hello_world_from_someone('Annika')

Annika says hello world!

**positional vs keyword arguments**

In [17]:
def add(n,m,p):
    return n+m+p

In [18]:
add(2,p=2,m=3)

7

In [19]:
add(p=2,2,m=3)

SyntaxError: positional argument follows keyword argument (2578139810.py, line 1)

**default parameter**

In [20]:
def perimeter(x,y,z=3):
    sum_of_arms = x+y+z
    return sum_of_arms

In [21]:
perimeter(2,2)

7

**return value**

In [22]:
def no_function():
    pass

In [23]:
no_output = no_function()
no_output

In [24]:
type(no_output)

NoneType

#### tuple unpacking

In [25]:
def my_function(n,m):
    sum_ = n+m
    difference_ = abs(n-m)
    return sum_, difference_

In [26]:
results = my_function(5,3)
results

(8, 2)

In [27]:
results[0]

8

In [28]:
results[1]

2

In [31]:
sum_, difference_ = my_function(5,3)

In [32]:
sum_

8

In [33]:
difference_

2

### 3.3 Excess Parameters: `*args` and `**kwargs`

>- parameters not defined until the function is called
>- gives flexibility to pass arbitrary number of arguments
>- `*args`: collection of additional unnamed parameters (excess positional parameters)
>- `**kwargs`: dictionary for additional named parameters (excess keyword parameters)

In [34]:
def sum_of_numbers(list_of_numbers):
    sum_ = 0
    for number in list_of_numbers:
        sum_ += number
    return sum_

In [35]:
sum_of_numbers([1,2,3])

6

In [36]:
def polygon_perimeter(*arms):
    perimeter_ = 0
    for arm in arms:
        perimeter_ += arm
    return perimeter_

In [37]:
polygon_perimeter(2,3,3,4,6,7,8,1,8)

42

In [38]:
def birthday_function(**info):
    for name,birthday in info.items():
        print(name + ' was born on '+ birthday)

In [39]:
birthday_function(
    Galileo='15.02.1564',
    Newton='25.12.1642',
    Maxwell='13.06.1831',
    Einstein='14.03.1879'
)

Galileo was born on 15.02.1564
Newton was born on 25.12.1642
Maxwell was born on 13.06.1831
Einstein was born on 14.03.1879

#### caution:
using a list or some other mutable data structure as a function argument can be risky!

In [40]:
def test_function(list_):
    list_[-1] = 6
    return list_

In [41]:
test_function(number_list)

[1, 2, 3, 4, 6]

In [42]:
number_list

[1, 2, 3, 4, 6]

### 3.4 Docstring

In [43]:
def triangle_inequality(x,y,z):
    """
    Given three arm lengths, this function checks 
    if they satisfy triangle inequality
    :param x: first arm length
    :type x: int
    :param y: second arm length
    :type y: int
    :param z: third arm length
    :type z: int
    
    :rtype: bool
    returns True or False based on whether the inequality 
    is satisfied or not
    """
    arm_list = [x,y,z]
    if sum(arm_list) > 2*max(arm_list):
        return True
    
    return False

In [44]:
triangle_inequality(2,2,5)

False

### 3.5 Function Annotations

In [45]:
def triangle_inequality_func_annot(x:'int',y:'int',z:'int'=10)->'bool':
    """
    Given three arm lengths, this function checks if they satisfy triangle inequality
    :param x: first arm length
    :param y: second arm length
    :param z: third arm length, default 10
    
    returns True or False based on whether the inequality is satisfied
    """
    arm_list = [x,y,z]
    if sum(arm_list) > 2*max(arm_list):
        return True
    
    return False

In [46]:
triangle_inequality_func_annot.__annotations__

{'x': 'int', 'y': 'int', 'z': 'int', 'return': 'bool'}

In [47]:
triangle_inequality_func_annot(5,4)

False

### 3.6 What makes a good function?

>- correct syntax, else nothing works
>- important to comment/document what the function is doing
    + `docstring` """ ...""" : gives a description of the function (see [pep documentation](https://www.python.org/dev/peps/pep-0257/#specification)):
        - what it does
        - the paratemers
        - the returns
>- good **names**: for the function and its variables
>- single purpose: 5-20 lines
>- parameters should be intuitively named

<hr style="border:2px solid black">

## 4. Other Function Types

### 4.1 Lambda expression

**example 1**

In [48]:
f = lambda x: 3*x+1

# def f(x):
#     return 3*x+1

In [49]:
f(2)

7

**example 2**

In [50]:
squared_number_series = number_series.apply(lambda x: x*x)
squared_number_series

0     1
1     4
2     9
3    16
4    25
dtype: int64

**example 3**

In [51]:
df = pd.DataFrame({
    'value':number_series,
    'value²':squared_number_series
})
df

   value  value²
0      1       1
1      2       4
2      3       9
3      4      16
4      5      25

In [52]:
df['value³'] = df.apply(lambda x: x['value']*x['value²'],axis=1)
df

   value  value²  value³
0      1       1       1
1      2       4       8
2      3       9      27
3      4      16      64
4      5      25     125

In [53]:
df['value⁴'] = df['value']*df['value³']
df

   value  value²  value³  value⁴
0      1       1       1       1
1      2       4       8      16
2      3       9      27      81
3      4      16      64     256
4      5      25     125     625

### 4.2 Recursive function

**example**

In [54]:
def factorial(x):
    """
    This recursive function finds the factorial of a given integer
    """
    if x == 1:
        return 1
    else:
        return (x * factorial(x-1))

In [55]:
num = 6
print("The factorial of", num, "is", factorial(num))

The factorial of 6 is 720

### 4.3 Higher-order function

**example 1: `map()`**

In [56]:
number_list = [1,2,3,4,5]
factorial_list = list(map(factorial,number_list))
factorial_list

[1, 2, 6, 24, 120]

**example 2: `filter()`**

In [57]:
list(filter(lambda x: x>20, factorial_list))

[24, 120]

**example 3: user-defined hof**

In [58]:
def shout(text): 
    return text.upper() 
    
def whisper(text): 
    return text.lower() 
    
def greet(function): 
    greeting = function("Hi, I am created by a function passed as an argument.") 
    print(greeting)

In [59]:
greet(shout)

HI, I AM CREATED BY A FUNCTION PASSED AS AN ARGUMENT.

In [60]:
greet(whisper)

hi, i am created by a function passed as an argument.

### 4.4 Generator

**example**

In [61]:
# generating an infinite sequence
def infinite_sequence():
    num = 1
    while True:
        yield num
        num += 1

In [62]:
generator = infinite_sequence()
generator

In [63]:
from IPython.display import clear_output
from time import sleep

In [64]:
for number in generator:
    try:
        print(number)
        clear_output(wait=True)
        sleep(0.1)
    except KeyboardInterrupt:
        break

407

### 4.5 Decorator

**example**

In [65]:
### defining a decorator 
def hello_decorator(input_function,*args): 
    
    # inner is a wrapper function in which the argument is called  
    # inner function can access the outer local functions like in this case "func" 
    
    def inner(): 
        print("Hello, this is before function execution") 
    
        # calling the actual function now inside the wrapper function 
        input_function(*args) 
    
        print("This is after function execution") 
            
    return inner

In [66]:
# passing the function and arguments
output_function = hello_decorator(greet,shout) 
    
# calling the function 
output_function()

Hello, this is before function execution
HI, I AM CREATED BY A FUNCTION PASSED AS AN ARGUMENT.
This is after function execution

<hr style="border:2px solid black">

## References

- [Python Functions : A Complete Beginners Guide](https://www.edureka.co/blog/python-functions)
- [Introduction to Function in Python](https://www.enjoyalgorithms.com/blog/introduction-to-function-in-python)
- [Built-in Functions, Python Documentation](https://docs.python.org/3/library/functions.html)
- [Python: user defined functions](https://www.w3resource.com/python/python-user-defined-functions.php#:~:text=In%20Python%2C%20a%20user%2Ddefined,name%20followed%20by%20a%20colon.)